<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sts List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>근태 현황</h1>
<table>
    <thead>
    <tr>
        <th>부서명</th>
        <th>출근함</th>
        <th>출근전</th>
        <th>퇴근</th>
        <th>부재중</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stsdept : ${deptlist}">
        <td th:text="${stsdept.dept}"></td>
        <!-- 이하 테이블 내용 추가 -->
    </tr>
    </tbody>
</table>
</body>
</html>
